@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Gerenciamento de Despesas</h3>
    <img src="~/images/GerenciamentoDeDespesa.jpeg" alt="Despesas" class="img-fluid" asp-append-version="true" />
</div>
