{
  "ConnectionStrings": {
    "DefaultConnection": "Host=SEU_HOST;Port=5432;Database=expense;Username=SEU_USER;Password=SUA_SENHA"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Cors": {
    "AllowedOrigins": [
      "https://localhost:7000",
      "http://localhost:5000"
    ]
  },
  "Jwt": {
    "Key": "SUA_CHAVE_JWT_MINIMO_32_CARACTERES",
    "Issuer": "ExpenseApi",
    "Audience": "ExpenseWeb",
    "ExpireHours": 2,
    "RefreshTokenDays": 7
  },
  "Supabase": {
    "Url": "SUA_URL_SUPABASE",
    "AnonKey": "SUA_ANON_KEY",
    "StorageBucket": "expense-images"
  }
}
